.viewproject__flex {
}
.viewproject__inline {
    display: inline;
}
.viewproject__listitem {
    margin-bottom: 0.3em;
}
.viewproject__description {
    border: 1px solid #C4C4C4;
    border-radius: 0.6em;
    margin-bottom: 3em;
    margin-top: 1em;
    padding: 1em;
}
.viewproject__text-comment {
    margin-left: 1em !important;
    width: 90%;
}
.viewproject__edit-resolve {
    margin-bottom: 2em;
    text-align: right;
}
.viewproject__btn--resolve {
    margin-left: 0.5em !important;
}
.viewproject__side {
    margin-top: 5em;
}

@media screen and (min-width: 980px) {
    .viewproject__flex {
        display: flex;
        justify-content: space-between;
    }
    .viewproject__priority {
        border-radius: 2em;
        max-width: 100px;
        padding-bottom: 0.4em;
        padding-top: -.5em;
        padding-top: 0.4em;
        text-align: center;
    }
    .viewproject__priority--high {
        background-color: #F32424;
        border: 1px solid #F32424;
        color: white;
    }
    .viewproject__priority--medium {
        background-color: #F5BB25;
        border: 1px solid #F5BB25;
        color: white;
    }
    .viewproject__priority--low {
        background-color: #38A512;
        border: 1px solid #38A512;
        color: white;
    }
    .viewproject__title {
        margin-bottom: 0;
    }
    .viewproject__language-createdAt {
        display: flex;
    }
    .viewproject__language {
        padding-right: 2em;
    }
    .viewproject__head-flex {
        display: flex;
    }
    .viewproject__head__text {
    }
    .viewproject__createdAt {
    }
    .viewproject__edit-resolve {
        margin-bottom: 2em;
        text-align: right;
    }
    .viewproject__btn--resolve {
        margin-left: -0.5em !important;
    }
    .viewproject__btn--edit {
        margin-right: 1em !important;
    }
    .viewproject__description {
        border: 1px solid #C4C4C4;
        border-radius: 0.6em;
        margin-top: 1em;
        padding: 1em;
    }
    .viewproject__detail {
        width: 70%;
    }
    .viewproject__side {
        width: 25%;
    }
}